<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" type="image/ico" href="/images/favicon.png" />
    <title>Stick Notes</title>
  </head>
  <body>
	<!-- Welcom Wraapper -->
	<div class="welcome_wrapper">
		<div class="welcome_holder">
			<div class="log_reg_form_wrapper">
				<div class="welcome_logo_wrap">
					<img class="logo" src="/images/logo.png" alt="" />
					<h4 class="welcome_title">Please Enter Your Email</h4>	
				</div>
				<div class="forgot_pws_wrap">
					<form class="">
						<div class="input_wrap" id="forgotEmailDiv">
							<input type="email" placeholder="E-mail" id="forgot_email"/>
							<i class="fas fa-envelope"></i>
							<div class="input_error">
								<span id="forgotEmailError"></span>
							</div>
						</div>
						<button type="button" class="button" onclick="generateP()">Send</button>
						<br><br>
						<div class="note_forgot_pws_link">
							I Remember My Password ? 
							<a href="/">Login </a>
						</div>

					</form>
				</div>
							  
			</div>
		</div>
	</div>

	<!-- Toaster alert -->
	<div class="alert_close note_alert_wrapper msg">
		<div class="note_alert_inner">
			<div class="note_alert_icon"></div>
			<p class="alert_text"></p>
		</div>
	</div>

	<!-- Script Start -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/script.js"></script>
	</body>
</html>